@import "style/rain.css";
@import "style/worm.css";
@import "style/kiwi.css";
@import "style/hearts.css";

body {
    margin: 0;
}

body > svg {
    height:100vh;
    vertical-align: middle;
}

body > a {
    vertical-align: middle;
}