/* Mise en scène sur les points de vie */

@keyframes semiHearts {
    from {
        opacity: 0.5;
        stroke: none;
    }

    to {
        opacity: 1;
        stroke: #fbb03b;
    }
}

.semi-hearts {
    animation-duration: 1s;
    animation-name: semiHearts;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.semi-hearts + text,
.semi-hearts + text + text {
    text-shadow: 2px 2px #d4d4d4;
    visibility: hidden;
}

#kiss-princess:not(:target) + svg .semi-hearts:hover + text {
    visibility: visible;
}

#kiss-princess:target + svg .semi-hearts {
    animation-iteration-count: 0;
    opacity: 1;
}
#kiss-princess:target + svg .semi-hearts + text + text {
    visibility: visible;
}

#add-heart {
    visibility: hidden;
    transition: transform 2s;
}

#kiss-princess:target + svg #add-heart {
    visibility: visible;
    transform: translate(-432px, -545px);
}